<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>

    <title>팝빌 SDK Nodejs - Express Example.</title>
</head>

<body>

<div id="content">

    <p class="heading1">팝빌 문자 Nodejs SDK - Express Example.</p>

    <br/>

    <fieldset class="fieldset1">
        <legend>팝빌 기본 API</legend>

        <fieldset class="fieldset2">
            <legend>회원사 정보</legend>
            <ul>
                <li><a href="MessageService/checkIsMember">checkIsMember</a> - 연동회원사 가입 여부 확인</li>
                <li><a href="MessageService/checkID">checkID</a> - 아이디 중복 확인</li>
                <li><a href="MessageService/joinMember">joinMember</a> - 연동회원사 가입 요청</li>
                <li><a href="MessageService/getChargeInfo">getChargeInfo</a> - 과금정보 확인</li>
                <li><a href="MessageService/getBalance">getBalance</a> - 연동회원사 잔여포인트 확인</li>
                <li><a href="MessageService/getPopbillURL">getPopbillURL</a> - 팝빌 SSO URL 요청(로그인/포인트충전/공인인증서등록)</li>
                <li><a href="MessageService/getPartnerBalance">getPartnerBalance</a> - 파트너 잔여포인트 확인</li>
                <li><a href="MessageService/getPartnerURL">getPartnerURL</a> - 파트너 포인트충전 URL</li>
                <li><a href="MessageService/listContact">listContact</a> - 담당자 목록 조회</li>
                <li><a href="MessageService/updateContact">updateContact</a> - 담당자 정보 수정</li>
                <li><a href="MessageService/registContact">registContact</a> - 담당자 추가</li>
                <li><a href="MessageService/getCorpInfo">getCorpInfo</a> - 회사정보 조회</li>
                <li><a href="MessageService/updateCorpInfo">updateCorpInfo</a> - 회사정보 수정</li>
            </ul>
        </fieldset>

    </fieldset>

    <br/>

    <fieldset class="fieldset1">
        <legend>문자 관련 API</legend>

        <fieldset class="fieldset2">
            <legend>단문 문자 전송</legend>
            <ul>
                <li><a href="MessageService/sendSMS">sendSMS</a> - 단문 문자메세지 1건 전송</li>
                <li><a href="MessageService/sendSMS_multi">sendSMS</a> - 단문 문자메세지 다량(최대1000건) 전송</li>
            </ul>
        </fieldset>

        <fieldset class="fieldset2">
            <legend>장문 문자 전송</legend>
            <ul>
                <li><a href="MessageService/sendLMS">sendLMS</a> - 장문 문자메세지 1건 전송</li>
                <li><a href="MessageService/sendLMS_multi">sendLMS</a> - 장문 문자메세지 다량(최대1000건) 전송</li>
            </ul>
        </fieldset>

        <fieldset class="fieldset2">
            <legend>단/장문 문자 자동 전송</legend>
            <ul>
                <li><a href="MessageService/sendXMS">sendXMS</a> - 단/장문 문자메세지 1건 전송</li>
                <li><a href="MessageService/sendXMS_multi">sendXMS</a> - 단/장문 문자메세지 다량(최대1000건) 전송</li>
            </ul>
        </fieldset>

        <fieldset class="fieldset2">
            <legend>포토 문자 전송</legend>
            <ul>
                <li><a href="MessageService/sendMMS">sendMMS</a> - 포토 문자메세지 1건 전송</li>
                <li><a href="MessageService/sendMMS_multi">sendMMS</a> - 포토 문자메세지 다량(최대1000건) 전송</li>
            </ul>
        </fieldset>


        <fieldset class="fieldset2">
            <legend>전송내역조회/요약정보확인</legend>
            <ul>
                <li><a href="MessageService/search">search</a> - 문자전송내역 목록조회</li>
                <li><a href="MessageService/getStates">getStates</a> - 문자메시지 전송결과 요약정보 확</li>

            </ul>
        </fieldset>

        <fieldset class="fieldset2">
            <legend>접수번호 관련 기능 (요청번호 미할당)</legend>
            <ul>
                <li><a href="MessageService/getMessages">getMessages</a> - 문자메세지 전송결과 확인</li>
                <li><a href="MessageService/cancelReserve">cancelReserve</a> - 예약문자 취소</li>
            </ul>
        </fieldset>

        <fieldset class="fieldset2">
            <legend>요청번호 할당 전송건 관련 기능</legend>
            <ul>
                <li><a href="MessageService/getMessagesRN">getMessagesRN</a> - 문자메세지 전송결과 확인</li>
                <li><a href="MessageService/cancelReserveRN">cancelReserveRN</a> - 예약문자 취소</li>
            </ul>
        </fieldset>

        <fieldset class="fieldset2">
            <legend>기타</legend>
            <ul>
                <li><a href="MessageService/getURL">getURL</a> - 문자메세지 관련 SSO URL 확인</li>
                <li><a href="MessageService/getUnitCost">getUnitCost</a> - 문자메세지 전송단가 확인</li>
                <li><a href="MessageService/getAutoDenyList">getAutoDenyList</a> - 080 수신거부 목록 확인</li>
                <li><a href="MessageService/getSenderNumberList">getSenderNumberList</a> - 문자 발신번호 목록 확인</li>
            </ul>
        </fieldset>

    </fieldset>
</div>
</body>
</html>
