<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
    <div id="content">
        <p class="heading1">PaymentHistory</p>
        <br />
        <fieldset class="fieldset1">
            <legend><%= path %></legend>
            <fieldset class="fieldset2">
                <ul>

                </ul>
            </fieldset>
        </fieldset>
    </div>
</body>

</html>
