<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>
            <%= path %>
        </legend>

        <fieldset class="fieldset2">
            <ul>
                <li> code (응답 코드) : <%= code %> </li>
                <li> message (응답 메시지) : <%= message %> </li>
                <li> refundCode (환불 요청 번호) : <%= refundCode %> </li>
            </ul>
        </fieldset>
    </fieldset>
</div>
</body>

</html>